.swipeButtons{
    display: flex;
    bottom: 5vh;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.repeat_Btn{
    color: #f5b748 !important;
}

.left_Btn{
    color: #ec5e6f !important;
}

.right_Btn{
    color: #76a2b3 !important;
}

.star_Btn{
    color: #62a4f9 !important;
}

.lightning_Btn{
    color: #915dd9 !important;
}